:root {
  --yellow: #f9dc5c;
  --blue:   #7bcabb;
  --orange: #fca464;
  --green:  #c9e6a5;
  --purple: #c08cc3;
  --off-white:  #f1f1f1;
  --dark-green: #331122;
  --dark-grey:  #1e1e1e;
  --dark-blue:  #2030a0;
  --white:  #ffffee;
  --black:  #0a0a0a;
}

@font-face {
  font-family: PublicSans-Regular;
  src: url('fonts/PublicSans-Regular.otf') format('opentype');
}

@font-face {
  font-family: PublicSans-SemiBold;
  src: url('fonts/PublicSans-SemiBold.otf') format('opentype');
}

@font-face {
  font-family: PublicSans-Bold;
  src: url('fonts/PublicSans-Bold.otf') format('opentype');
}

@font-face {
  font-family: FiraSans-Bold;
  src: url('fonts/FiraSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: FiraSans-SemiBold;
  src: url('fonts/FiraSans-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: SpaceGrotesk-Medium;
  src: url('fonts/SpaceGrotesk-Medium.otf') format('opentype');
}

body {
  background: var(--dark-grey);
}

h1 {
  font-family: FiraSans-Bold;
}

h2 {
  font-family: SpaceGrotesk-Medium;
  padding: 2pt 4pt;
  margin: 2pt;
  margin-bottom: 6pt;
  background: var(--dark-grey);
  color: var(--off-white);
  border-radius: 4pt;
  text-shadow: 2px 2px var(--dark-green);
}

h5 {
  font-family: FiraSans-Bold;
  display: inline;
}

h6 {
  font-family: FiraSans-SemiBold;
  display: inline;
  font-size: 8.5pt;
  padding: 1pt 3pt;
}

/* p {} */
a {
  color: var(--dark-blue);
}

.date {
  background: var(--off-white);
  padding: 1pt 2pt;
  border-left: solid 3pt var(--dark-grey);
}

.description {
  font-family: PublicSans-SemiBold;
  font-size: 16px;
  color: var(--black);
  margin: 2pt;
  text-align: justify;
  text-justify: inter-word;
  padding: 2pt;
}

.info-text {
  font-family: PublicSans-Bold;
  font-size: 16px;
  color: var(--black);
  margin: 2pt;
}

.location {
  background: var(--dark-grey);
  color: var(--off-white);
  border-right: solid 3px var(--off-white);
}

.main-name {
  background: var(--dark-grey);
  color: var(--off-white);
}

.secondary-name {
  background: var(--off-white);
  color: var(--dark-grey);
}

.section {
  padding: 8pt;
  margin: 6pt;
  border-radius: 8pt;
}

.skill-name {
  font-size: 12pt;
  color: var(--dark-grey);
  background: var(--off-white);
  padding: 2pt 4pt;
  border-left: solid 3pt var(--dark-grey);
}

#fullname {
  color: var(--dark-grey);
  font-size: 36px;
  margin: 2pt;
  text-shadow: 3px 3px var(--white);
}

#info {
  background: var(--orange);
}

#info-description {
  background: var(--white);
  padding: 2pt 4pt;
  border-radius: 4pt;
}

#learns {
  background: var(--yellow);
}

#left-info {
  text-align: left;
  float: left;
}

#miscs {
  background: var(--green);
}

#right-info {
  text-align: right;
  float: right;
}

#skills {
  background: var(--purple);
}

#works {
  background: var(--blue);
}

/* @media print { */
/*     body{ */
/*         width: 21cm; */
/*         height: 29.7cm; */
/*         margin: 24mm 38mm; */ 
/*    } */
/* } */
